<a href="javascript:void(0)">
    <svg class="svg-color circle-color" (click)="notification()">
        <use href="assets/svg/iconly-sprite.svg#Bell"></use>
    </svg>
</a>
<span class="badge rounded-pill badge-secondary">3</span>
<span >
    <div class="custom-menu notification-dropdown py-0 overflow-hidden" [class.show]="notifications">
        <h5 class="title bg-primary-light">Notifications 
            <a [routerLink]="'/chat/private-chat'">
                <span class="font-primary">View</span>
            </a>
        </h5>
        <ul class="activity-update">
            <li class="d-flex align-items-center b-l-primary">
                <div class="flex-grow-1"> <span>Just Now</span><a [routerLink]="'/chat/private-chat'">
                        <h5>What`s the project report update?</h5>
                    </a>
                    <h6>Rick Novak</h6>
                </div>
                <div class="flex-shrink-0"> <img class="b-r-15 img-40" src="assets/images/avatar/10.jpg" alt=""></div>
            </li>
            <li class="d-flex align-items-center b-l-secondary">
                <div class="flex-grow-1"> <span>12:47 am</span><a [routerLink]="'/chat/private-chat'">
                        <h5>James created changelog page</h5>
                    </a>
                    <h6>Susan Connor</h6>
                </div>
                <div class="flex-shrink-0"> <img class="b-r-15 img-40" src="assets/images/avatar/4.jpg" alt=""></div>
            </li>
            <li class="d-flex align-items-center b-l-tertiary">
                <div class="flex-grow-1"> <span>06:10 pm</span><a [routerLink]="'/chat/private-chat'">
                        <h5>Polly edited Contact page</h5>
                    </a>
                    <h6>Roger Lum</h6>
                </div>
                <div class="flex-shrink-0"> <img class="b-r-15 img-40" src="assets/images/avatar/1.jpg" alt=""></div>
            </li>
            <li class="mt-3 d-flex justify-content-center">
                <div class="button-group"><a class="btn btn-secondary" [routerLink]="'/chat/private-chat'">All
                        Notification</a></div>
            </li>
        </ul>
    </div>
</span>