.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px;
  width: 100%; /* Full width */
}

.view-link{
  background-color: #50b9b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-size: 14px;
  flex-grow: 1; /* Takes up remaining space */
  text-align: center;
  // width: 30%;
}

.view-button {
  background-color: #50b9b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-size: 14px;
  flex-grow: 1; /* Takes up remaining space */
  text-align: center;
}

.view-button:hover {
  opacity: 0.8;
}

.remove-button {
  background-color: #111010;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 0; /* Position to the right end */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for exact centering */
}

.remove-button:hover {
  opacity: 0.8;
}
