::ng-deep .ng-select .ng-select-container {
    border: none !important;
    color: var(--black) !important;
    border-radius: 5px !important;
    font-family: "Outfit", sans-serif !important;
    font-size: 14px !important;
    background-color: #F4F5F8 !important;
    // height: 35px !important;
}

.form-control {
    padding: 0px !important;
}

.custom-cursor-pointer {
    cursor: pointer !important;
}

/* Styling for disabled ng-select */
::ng-deep .ng-select.ng-select-disabled {
    .ng-select-container {
      background-color: #e8e8e8 !important;  /* Light gray background when disabled */
      cursor: not-allowed !important;        /* Change cursor to indicate it's disabled */
      color: #000 !important;              /* Change text color to gray */
    }
  
    /* Disable clear button when disabled */
    .ng-select-clear {
      pointer-events: none !important;
    }
  
    /* Prevent dropdown from opening */
    .ng-select-dropdown {
      pointer-events: none !important;
    }
  
    /* Disable interaction with items in the dropdown */
    .ng-select-item {
      pointer-events: none !important;
    }
  }
  